body

{ 
    background-color :lightgray
}
.Form {
    margin-top: 60px;
    background-color: lightcoral;
    padding-top: 80px;
    height: 400px;
    width: 400px;
    box-shadow: 10px 10px 45px 30px maroon;
}
#num1 {
    height: 30px;
    border-radius: 5px;
    border : none;
    border-color : blue;
    
}

#num2 {
    height: 30px;
    border-radius: 5px;
    border: none;
}
